ul {
    color: blueviolet;
}

#circle {
  list-style-type: circle;
}

#circle li::marker {
  color: orange;
}

#square {
  list-style-type: square;
}

#square li::marker {
  color: green;
  font-size: 20px;
}

ol {
  color: aqua;
}

#decimal {
  list-style-type: decimal-leading-zero;
}

#decimal li::marker {
  color: blue;
}

#lower-roman {
  list-style-type: lower-roman;
}

#lower-roman li::marker {
  color: purple;
  font-size: 19px;
}

#upper-roman {
  list-style-type: upper-roman;
}

#upper-roman li::marker {
  color: crimson;
}

#lower-alpha {
  list-style-type: lower-alpha;
}

#upper-alpha {
  list-style-type: upper-alpha;
  color: darkred;
}

#georgian {
  list-style-type: georgian;
}

#georgian li::marker {
  color: navy;
  font-size: 21px;
}

#none {
  list-style-type: none;
}