p {
    color: green;
    text-decoration: underline dotted;
    text-decoration-color: red;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
  text-decoration: underline;
}

button {
    background-color: black;
    color: white;
    border: 1px dashed black;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: white;
}

button:active {
    background-color: orange;
}