* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 182, 135);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    height: 450px;
}

.div1 {
    height: 50%;
    width: 100%;
}

.div3 {
    margin-top: 40px;
    margin-left: 40px;
}

h1 {
    color: hsl(179, 62%, 43%);
}

.p1 {
    margin-top: 25px;
    color: hsl(71, 73%, 54%);
}

.p2 {
    margin-top: 10px;
    margin-right: 40px;
    color: hsl(218, 22%, 67%)
}

.left {
    background-color: hsl(179, 62%, 43%);
    border-radius: 0px 0px 0px 10px;
    width: 50%;
}

.right {
    background-color: hsl(179, 43%, 60%);
    border-radius: 0px 0px 10px 0px;
    width: 50%;
}

.div2 {
    display: flex;
    color: white;
    height: 185px;
}

#h2 {
    margin-top: 30px;
    font-size: 20px;
}
.pp {
    margin-left: 40px;
}

.flex {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

#p1 {
    font-size: 25px;
    margin-right: 10px;
}

#p2 {
    color: hsl(218, 25%, 75%);
}

.p5 {
    margin-top: 10px;
}

button {
    width: 70%;
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: white;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

#h3 {
    margin-top: 30px;
    font-size: 20px;
}

#p3 {
    margin-top: 10px;
    margin-right: 20px;
    color: hsl(218, 40%, 81%);
}