* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: hsl(0, 0%, 100%);
    height: 450px;
    width: 300px;
    border: solid black 1px;
    border-radius: 20px;
    box-shadow: 4px 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon {
    width: 270px;
    height: 180px;
    border-radius: 20px;
    margin-top: 10px;
}

.text {
    font-size: 18px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
}

.main2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10px;
}

p {
    margin-top: 10px;
}

.big {
    font-size: 24px;
    font-weight: 600;
}

.main3 {
    margin-top: 10px;
    display: flex;
}
.avatar {
    width: 50px;
}

.p1 {
    font-weight: 700;
}

