table {
    border-collapse: collapse;
}
tr:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.74); 
  color: white;
}

tr:nth-child(2) { 
    background-color: hsl(204, 78%, 55%); 
    color: white; 
}

  tr:nth-child(3) { 
    background-color: #2ecc71; 
    color: white; 
}

  tr:nth-child(4) { 
    background-color: #f1c40f; 
    color: white; 
}

  tr:nth-child(5) {
     background-color: #e74c3c; 
     color: white; 
}

  tr:nth-child(6) { 
    background-color: #1abc9c; 
    color: white; 
}
