* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: burlywood;
    background-color: antiquewhite;
}