@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

.div1{
    display: flex;
    background-color: #1f1f1f;
    flex-direction: column;
    width: 300px;
    height: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

h1 {
    color: #fafafa;
    font-size: 20px;
}

.p1 {
    color: #a0c039;
    font-size: 14px;
}

.div2 {
    margin: 20px;
}

.p2 {
    color: #d5d5d5;
    font-size: 14px;
}

button {
    border: none;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    color: #eeeeee;
    width: 270px;
    margin: 10px;
    height: 40px;
    justify-content: center;
    border-radius: 8px;
}
