/* @import - ეს არის CSS ბრძანება, რომელიც გამოიყენება სხვა CSS ფაილის ჩასასმელად ერთ ფაილში. */
/* font-family - განსაზღვრასვ ტექტის შრიფტ საიტზე */
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#p1 {
    font-family: "Momo Signature";
}

#p2 {
    font-family: "Nunito", sans-serif;
}

#p3 {
    font-family: "Playfair Display", serif;
}