* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div {
    height: 200px;
    width: 200px;
    background-color: red;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    div {
        background-color: blue;
    }
}

@media (max-width: 480px) {
    body {
        flex-direction: column-reverse; 
    }

    div {
        background-color: green;
    }
}