* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.large {
    text-align: end;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
    z-index: 0;
}

.medium {
    text-align: end;
    position: absolute;
    height: 700px;
    width: 700px;
    background-color: brown;
    z-index: 1;
}

.small {
    text-align: end;
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: aqua;
    z-index: 2;
}