body {
    background: #f0f0f0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 40px;
}

.card {
    width: 350px;
    height: 200px;
    position: relative;
    border-radius: 18px;
    background: #000;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.text {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
