
input {
    width: 400px;
    height: 20px;
}

textarea {
    width: 400px;
    height: 70px;
}

button {
    width: 400px;
    height: 35px;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 5px;
}