* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: rgba(226, 44, 105, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    justify-content: center;
}

.div1 {
    width: 120px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 600px;
}

h1 {
    text-align: center;
}