table {
    border-collapse: collapse;
    width: 400px;
    text-align: left;
}

th {
    background-color:chartreuse;
    color:white
}

th, td {
  border: 1px solid black;
  text-align: left;
}

tr:nth-child(odd) {
  background-color:antiquewhite;
}

.bold {
  color: #009879;
}