h1 {
    text-align: center;
    background-color: aqua;
    color: chocolate;
    font-size: 32px;
}

p {
    text-align: center;
    background-color: blueviolet;
    color: darkgoldenrod;
    font-size: 16px;
}