#but1:hover {
    background-color: brown;
    border-color: black;
}

#p1{
    border: 2px solid red;
    border-radius: 50%;
}

#li1 {
    border: 2px solid green;
    border-radius: 15px;
}

#but2:active{
    border: none;
}